.sentence-display-container {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  min-height: 80px;
  background-color: var(--surface-color);
  display: flex;
  align-items: flex-start;
  gap: 15px;
  box-shadow: var(--box-shadow);
}

.sentence-chips-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  flex-grow: 1;
  align-items: center;
}

.placeholder-text {
  color: var(--text-color-muted);
  font-style: italic;
  align-self: center;
  font-size: var(--font-size-lg);
  margin: auto;
}

.sentence-chip {
  display: flex;
  align-items: center;
  background-color: var(--background-color);
  padding: 8px 15px 8px 10px;
  border-radius: 30px;
  font-size: 1.2em;
  font-weight: 700;
  border: 1px solid var(--border-color);
  transition: all 0.2s ease-in-out;
}

.sentence-chip img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--border-color);
}

.remove-chip-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  font-size: 1.2em;
  color: var(--text-color-muted);
  padding: 0;
  display: flex;
  align-items: center;
}

.remove-chip-button:hover {
  color: var(--danger-color);
  transform: scale(1.1);
}

.clear-sentence-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
  color: var(--text-color-muted);
  margin-left: auto;
  padding: 5px;
  align-self: center;
}

.clear-sentence-button:hover {
  color: var(--danger-color);
  transform: scale(1.1);
}